<h1>Angular workshop</h1>
<ul>
  <li><b>Name:</b> {{ name }}</li>
  <li>Age: {{ age }}</li>
  <li>Email: {{ email }}</li>
  <li>
    Address: {{ address.street }}, {{ address.city }}, {{ address.province }},
    {{ address.postcode }}
  </li>
</ul>
<h2>Edit Profile</h2>
<form action="">
  <div>
    <label for="name"><b>Name: </b></label>
    <input
      type="text"
      [(ngModel)]="name"
      name="name"
    />
  </div>
  <div>
    <label for="age"><b>Age: </b></label>
    <input
      type="text"
      [(ngModel)]="age"
      name="age"
    />
  </div>
  <div>
    <label for="email"><b>Email: </b></label>
    <input
      type="text"
      [(ngModel)]="email"
      name="email"
    />
  </div>
</form>

<h2>Skill</h2>
<form (submit)="addSkill(skill.value)">
  <div>
    <label for="skill">Skill: </label>
    <input type="text" #skill placeholder="Add your skill" />
  </div>
</form>

<ul>
  <li
    style="list-style-type: none;"
    *ngFor="let skill of skills; let i = index"
  >
    {{ i + 1 }}. {{ skill }}
    <button (click)="removeSkill(skill)">x</button>
  </li>
</ul>
